.operations {
    padding: 10px;

    mat-chip {
        background:#49927f;
        margin: 0 0 8px 8px;
    }
}


.card-container {
    width: 20%;
    min-width: 200px;
    max-width: 300px;
    display: inline-block;
    margin: 1%;
}

.example-card {
    font-size: .7rem;
}
  
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.side-panel {
    position: fixed;
    top: 52px;
    right: -40%;
    background: white;
    box-shadow: 2px 5px 6px 3px #afafae;
    width: 40%;
    height: 100%;
    transition: 300ms ease-in all;

    h2 {
        margin-left: 20px;
    }

    .tabs {
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid black;

        span {
            padding: 10px;
            margin: 0;
            border-radius: 10px 10px 0 0;
            cursor: pointer;
            background: #eeeeee;
            color: #8484c3;
        }

        span.active {
            background: dodgerblue;
            color: white;
        }
    }

    .cancel-btn {
        position: absolute;
        right: 15px;
        top: 10px;
        cursor: pointer;
    }

    td {
        padding: 10px;
    }

    img {
        width: 200px;
    }

    mat-chip {
        background:#dddddd;
        margin: 0 0 8px 8px;
    }
}

.side-panel > *{
    margin-left: 20px;
}

.side-panel.show{
    right: 0;
}