<div class="operations">
    <mat-chip-list>
        <mat-chip routerLink="/dashboard">
            <i class="fa fa-arrow-left"></i>
        </mat-chip>
        <mat-chip selected="true" (click)="createQuery()"> Select Filters </mat-chip>
        <mat-chip selected="true" (click)="manageGroup()"> Manage Groups </mat-chip>
        <mat-chip selected="true" (click)="getInsights()"> Insights </mat-chip>
    </mat-chip-list>
</div>


<div class="card-container" *ngFor="let item of postStats">
    <mat-card class="example-card">
        <mat-card-header>
            <img mat-card-avatar class="example-header-image" src="{{ item.user.profile_picture }}" />
            <mat-card-title>{{ item.user.full_name }}</mat-card-title>
            <mat-card-subtitle>{{ item.user.username }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="{{ item.images.standard_resolution.url }}" alt="Photo of a Shiba Inu">
        <mat-card-content *ngIf="item.caption">
            <p>
                {{ item.caption.text }}
            </p>
        </mat-card-content>
        <mat-card-actions>
            <div class="stats">
                <label>
                    <i class="fa fa-heart"></i>: </label>
                <span>{{ item.likes.count }}</span>
                <label>
                    <i class="fa fa-comment"></i>: </label>
                <span>{{ item.comments.count }}</span>
                <span class="show-more" (click)="showDetails(item.id)">See more ...</span>
            </div>
        </mat-card-actions>
    </mat-card>
</div>


<div class="side-panel" [ngClass]="{ 'show' : postId }">
    <span class="cancel-btn" (click)="resetData()">
        <i class="fa fa-times"></i>
    </span>
    <h2>Post Details</h2>
    <div *ngIf="postId">
        <div class="details">
            <table>
                <thead>
                    <td style="width:25%;"></td>
                    <td></td>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <label>Full Name </label>
                        </td>
                        <td>
                            <span [innerHtml]="detailItem.user.full_name"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Username </label>
                        </td>
                        <td>
                            <span [innerHtml]="detailItem.user.username"></span>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label>Posted On </label>
                        </td>
                        <td>
                            <span [innerHtml]="detailItem.created_time"></span>
                        </td>
                    </tr>
                    <tr *ngIf="detailItem.location">
                        <td>
                            <label>Location </label>
                        </td>
                        <td>
                            <span [innerHtml]="detailItem.location.name"></span>
                        </td>
                    </tr>
                    <tr *ngIf="detailItem.caption">
                        <td>
                            <label>Caption </label>
                        </td>
                        <td>
                            <span [innerHtml]="detailItem.caption.text"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Likes </label>
                        </td>
                        <td>
                            <span [innerHtml]="detailItem.likes.count"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Comments </label>
                        </td>
                        <td>
                            <span [innerHtml]="detailItem.comments.count"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Tags </label>
                        </td>
                        <td>
                            <span>
                                <mat-chip-list>
                                    <mat-chip *ngFor="let tag of detailItem.tags" selected="true" [innerHtml]="tag"></mat-chip>
                                </mat-chip-list>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Media Type </label>
                        </td>
                        <td>
                            <span [innerHtml]="detailItem.type"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Media </label>
                        </td>
                        <td>
                            <video width="320" height="240" controls *ngIf="detailItem.type == 'video'">
                                <source src="{{ detailItem.videos.standard_resolution.url }}" type="video/mp4"> Your browser does not support the video tag.
                            </video>
                            <img *ngIf="detailItem.type == 'image'" src="{{ detailItem.images.standard_resolution.url }}" />
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="side-panel" [ngClass]="{ 'show' : filterQuery.source }">
    <span class="cancel-btn" (click)="resetData()">
        <i class="fa fa-times"></i>
    </span>
    <h2>Create Query</h2>
    <div *ngIf="filterQuery.source">
        <div class="details">
            <table>
                <thead>
                    <td style="width:25%;"></td>
                    <td></td>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <label>Source </label>
                        </td>
                        <td>
                            <span [innerHtml]="filterQuery.source"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="side-panel" [ngClass]="{ 'show' : group.source }">
    <span class="cancel-btn" (click)="resetData()">
        <i class="fa fa-times"></i>
    </span>
    <h2 [innerHtml]=" group.source + ': Manage Groups'"> </h2>

    <div class="tabs">
        <span [ngClass]="{ 'active' : act == 'eg' }" (click)="act='eg'">Edit Group</span>
        <span [ngClass]="{ 'active' : act == 'cg' }" (click)="act='cg'">Create New Group</span>
    </div>

    <div [hidden]="act!='cg'"> Create group : Extend After Discussion </div>
    <div [hidden]="act!='eg'"> Edit group : Extend After Discussion </div>

</div>

<div class="side-panel" [ngClass]="{ 'show' : insights }">
        <span class="cancel-btn" (click)="resetData()">
            <i class="fa fa-times"></i>
        </span>
        <h2> Instagram : Insights </h2>
    
        <p>Locations posted from etc..</p>
    
    </div>