.app-menu {
    
    width: 100%;
    height: 50vh;
    background: #bad5e2;
    min-height: 10px;
    text-align: center;
    box-shadow: inset 0px 0px 11px -1px;

    .app {
        width: 10%;
        margin: 10px;
        display: inline-block;
        // height: 80px;
        font-size: 4rem;
        padding: 2%;
        background: wheat;
    }

}